<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Project Project{%if page.title %}: {{ page.title }} {% endif %}</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.min.css">

  <!-- KaTeX assets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/katex.min.css">
  <script src="{{ site.baseurl }}/assets/js/katex.min.js"></script>

  <!-- Site assets -->
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css"> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  {{ content }}

  <script>
    document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
      el.outerHTML = katex.renderToString(el.textContent, { displayMode: false });
    });

    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
      el.outerHTML = katex.renderToString(el.textContent.replace(/%.*/g, ''), { displayMode: true });
    });
  </script>
</body>
